/*
Red Crayola: #ED254E
Gunmetal: #002A32

*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: sans-serif, Tahoma, Verdana;
  font-size: 1.3vw;
  color: #ED254E;
}

body {
  background-color: #002A32;
}

header {
  height: 15%;

  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 5%;

  color: #ED254E;
  text-shadow: 2px 2px 8px #ED254E;
  font-weight: bold;
  font-size: 4.5vw;

}

nav {
  clear: both;
  position: sticky;

  height: 10%;
  width: 80%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2vw;

  border: solid 2px #ED254E;
  border-radius: 20px;
}

section {
  height: 70%;

  background-color: #062328;
}

article {
  /* Off for now */
}

aside {
  float: left;
  height: 70%;
  width: 15%;

  background-color: #002A32;
}

footer {
  clear: both;
  height: 5%;

  background-color: #081d21;
}

.show-semantic-borders0 {
  box-shadow: inset 0 0 0 2px rgb(106, 77, 77);
  color: red;
}

.display-sidebar-text {
  padding-left: 4vw;
}

.header-right{
  margin-left: 14vw;
  font-size: 2.5vw;
}